.webpage{
    background-image: url("image/328470.jpg");
}
.roundIcon{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.textStyle{
    color: rgb(233, 224, 224);
    font-size: large;
}
.content{
    position: absolute;
    top: 400px;
    left: 50px;
}
.userIcon{
    position: absolute;
    top: 100px;
    left:600px;
}